attrs==21.4.0
certifi==2023.7.22
charset-normalizer==2.0.11
filelock==3.4.2
idna==3.3
importlib-metadata==4.8.3
importlib-resources==5.4.0
jsonschema==3.2.0
pyrsistent==0.18.0
PyYAML==6.0.1
requests==2.27.1
six==1.16.0
supervisor==4.2.4
typing_extensions==4.0.1
urllib3==1.26.8
zipp==3.6.0
multitail2 @ git+ssh://git@github.com/metricfire/python-multitail2.git@master
